<a href="https://colab.research.google.com/github/dianaamonrooy/Algoritmos/blob/main/Labs/Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 01 Data Types and Data Structures

# Introduction

This tutorial provides a basic introduction to the Python programming language. If you are new to Python, you should run the code snippets while reading this tutorial. If you are an advanced Python user, please feel free to skip this chapter.

# Basic Variable Types
The basic types of variables in Python are: strings, integers, floating point numbers and booleans.

Strings in python are identified as a contiguous set of characters represented in either single quotes (' ') or double quotes (" ").

In [ ]:
my_string1 = 'Welcome to'
my_string2 = "QuantConnect"
print(my_string1 + ' ' + my_string2)

Welcome to QuantConnect

In [ ]:
#My examples
print("I am",'a string')

I am a string

An integer is a round number with no values after the decimal point.

In [ ]:
my_int = 85
print(my_int)
print(type(my_int))

85
<class 'int'>

The built-in function int() can convert a string into an integer.

In [ ]:
my_string = "100"
print(type(my_string))
my_int = int(my_string)
print(type(my_int))

<class 'str'>
<class 'int'>

A floating point number, or a float, is a real number in mathematics. In Python we need to include a value after a decimal point to define it as a float

In [ ]:
my_string = "100"
my_float = float(my_string)
print(type(my_float))
flo=3.54
print(type(flo))

<class 'float'>
<class 'float'>

As you can see above, if we don't include a decimal value, the variable would be defined as an integer. The built-in function float() can convert a string or an integer into a float.

In [ ]:
my_bool = False
print(my_bool)
print(type(my_bool))

False
<class 'bool'>

A boolean, or bool, is a binary variable. Its value can only be True or False. It is useful when we do some logic operations, which would be covered in our next chapter.

In [ ]:
print("Addition ", 1+1)
print("Subtraction ", 5-2)
print("Multiplication ", 2*3)
print("Division ", 10/2)
print('exponent', 2**3)

Addition  2
Subtraction  3
Multiplication  6
Division  5.0
exponent 8

# Basic Math Operations

The basic math operators in python are demonstrated below:

In [ ]:
print(1/3)
print(1.0/3)

0.3333333333333333
0.3333333333333333

# Data Collections

## List
A list is an ordered collection of values. A list is mutable, which means you can change a list's value without changing the list itself. Creating a list is simply putting different comma-separated values between square brackets.

In [ ]:
my_list = ['Quant', 'Connect']#, 1,2,3]
print(my_list)

['Quant', 'Connect', 1, 2, 3]

The values in a list are called "elements". We can access list elements by indexing. Python index starts from 0. So if you have a list of length n, the index of the first element will be 0, and that of the last element will be n − 1. By the way, the length of a list can be obtained by the built-in function len().

In [ ]:
my_list = ['Quant', 'Connect', 1,2,3]
print(len(my_list))
print(my_list[0])
print(my_list[len(my_list) -1])

5
Quant
3

You can also change the elements in the list by accessing an index and assigning a new value.

In [ ]:
my_list = ['Quant','Connect',1,2,3]
my_list[2] = 'go'
print(my_list)

['Quant', 'Connect', 'go', 2, 3]

A list can also be sliced with a colon:

In [ ]:
my_list = ['Quant','Connect',1,2,3]
print(my_list[1:4])

['Connect', 1, 2]

The slice starts from the first element indicated, but excludes the last element indicated. Here we select all elements starting from index 1, which refers to the second element:

In [ ]:
print(my_list[1:])

['Connect', 1, 2, 3]

And all elements up to but excluding index 3:

In [ ]:
print(my_list[:3])

['Quant', 'Connect', 1]

If you wish to add or remove an element from a list, you can use the append() and remove() methods for lists as follows:

In [ ]:
my_list = ['Hello', 'Quant']
my_list.append('Hello')
print(my_list)

['Hello', 'Quant', 'Hello']

In [ ]:
my_list.remove('Hello')
print(my_list)

['Quant', 'Hello']

When there are repeated instances of "Hello", the first one is removed.

## Tuple
A tuple is a data structure type similar to a list. The difference is that a tuple is immutable, which means you can't change the elements in it once it's defined. We create a tuple by putting comma-separated values between parentheses.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')

Just like a list, a tuple can be sliced by using index.

In [ ]:
my_tuple = ('Welcome','to','QuantConnect')
print(my_tuple[1:])

('to', 'QuantConnect')

## Set
A set is an **unordered**  collection with **no duplicate** elements. The built-in function **set()** can be used to create sets.

In [ ]:
stock_list = ['AAPL','GOOG','IBM','AAPL','IBM','FB','F','GOOG']
stock_set = set(stock_list)
print(stock_set)

{'FB', 'IBM', 'AAPL', 'GOOG', 'F'}

Set is an easy way to remove duplicate elements from a list.

##Dictionary
A dictionary is one of the most important data structures in Python. Unlike sequences which are indexed by integers, dictionaries are indexed by keys which can be either strings or floats.

A dictionary is an **unordered** collection of key : value pairs, with the requirement that the keys are unique. We create a dictionary by placing a comma-separated list of key : value pairs within the braces.

In [ ]:
my_dic = {'AAPL':'AAPLE', 'FB':'FaceBook', 'GOOG':'Alphabet'}

In [ ]:
print(my_dic['GOOG'])

Alphabet

After defining a dictionary, we can access any value by indicating its key in brackets.

In [ ]:
my_dic['GOOG'] = 'Alphabet Company'
print(my_dic['GOOG'])

Alphabet Company

We can also change the value associated with a specified key:

In [ ]:
print(my_dic.keys())

dict_keys(['AAPL', 'FB', 'GOOG'])

The built-in method of the dictionary object dict.keys() returns a list of all the keys used in the dictionary.

# Common String Operations
A string is an immutable sequence of characters. It can be sliced by index just like a tuple:

In [ ]:
my_str = 'Welcome to QuantConnect'
print(my_str[8:])

to QuantConnect

There are many methods associated with strings. We can use string.count() to count the occurrences of a character in a string, use string.find() to return the index of a specific character, and use string.replace() to replace characters

In [ ]:
# .count permite contar el número de veces que se repite un parámetro en una oración
print('Counting the number of e appears in this sentence'.count('e'))
# si no existe el parámetro no se encuentra en el string, el resultado es 0
print('hola'.count('4'))

#.find devuelve el index de la primera aparición del parámetro dado
print('The first time e appears in this sentence'.find('e'))
# si el parámetro no se encuentra, devuelve -1
print('hola'.find('e'))

# .replace reemplaza e primer parámetro por el segundo
print('all the a in this sentence now becomes e'.replace('a','e'))
# si el valor a reemplazar no está en la cadena, no se hacen cambios, pero tampoco hay error
print('hola'.replace('e','a'))

7
0
2
-1
ell the e in this sentence now becomes e
hola

The most commonly used method for strings is string.split(). This method will split the string by the indicated character and return a list:

In [ ]:
Time = '2016-04-01 09:43:00'
splited_list = Time.split(' ')
date = splited_list[0]
time = splited_list[1]
print(date, time)
hour = time.split(':')[0]
print(hour)

2016-04-01 09:43:00
09

We can replace parts of a string by our variable. This is called string formatting.

In [ ]:
my_time = 'Hour: {}, Minute:{}'.format('09','43')
print(my_time)

Hour: 09, Minute:43

Another way to format a string is to use the % symbol.

In [ ]:
print('the pi number is %f'%3.14)
print('%s to %s'%('Welcome','Quantconnect'))

the pi number is 3.140000
Welcome to Quantconnect

# Summary

Weave seen the basic data types and data structures in Python. It's important to keep practicing to become familiar with these data structures. In the next tutorial, we will cover for and while loops and logical operations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 02 Logical Operations and Loops

# Introduction
We discussed the basic data types and data structures in Python in the last tutorial. This chapter covers logical operations and loops in Python, which are very common in programming.

# Logical Operations
Like most programming languages, Python has comparison operators:

In [ ]:
print(1 == 0)
print(1 == 1)
print(1 != 0)
print(5 >= 5)
print(5 >= 6)
''' 
una sentencia como 
  print(5 > "a")
no es aceptada porque no se pueden comparar tipos de dato str e int'''

Each statement above has a boolean value, which must be either True or False, but not both.

We can combine simple statements P and Q to form complex statements using logical operators:

- The statement "P and Q" is true if both P and Q are true, otherwise it is false.
- The statement "P or Q" is false if both P and Q are false, otherwise it is true.
- The statement "not P" is true if P is false, and vice versa.

In [ ]:
print(2 > 1 and 3 > 2)
print(2 > 1 and 3 < 2) 
print(2 > 1 or 3 < 2)
print(2 < 1 and 3 < 2)

True
False
True
False

When dealing with a very complex logical statement that involves in several statements, we can use brackets to separate and combine them.

In [ ]:
print((3 > 2 or 1 < 3) and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))
print(3 > 2 or 1 < 3 and (1!=3 and 4>3) and not ( 3 < 2 or 1 < 3 and (1!=3 and 4>3)))

False
True

Comparing the above two statements, we can see that it's wise to use brackets when we make a complex logical statement.

# If Statement
An if statement executes a segment of code only if its condition is true. A standard if statement consists of 3 segments: if, elif and else.

```python
if statement1:
    # if the statement1 is true, execute the code here.
    # code.....
    # code.....
elif statement2:
    # if the statement 1 is false, skip the codes above to this part.
    # code......
    # code......
else:
    # if none of the above statements is True, skip to this part
    # code......
```

An if statement doesn't necessarily has elif and else part. If it's not specified, the indented block of code will be executed when the condition is true, otherwise the whole if statement will be skipped.

In [ ]:
i = 0
if i == 0:
    print('i==0 is True')

i==0 is True

As we mentioned above, we can write some complex statements here:

In [ ]:
p = 1 > 0
q = 2 > 3
if p and q:
    print('p and q is true')
elif p and not q:
    print('q is false')
elif q and not p:
    print('p is false')
else:
    print('None of p and q is true')

q is false

# Loop Structure
Loops are an essential part of programming. The "for" and "while" loops run a block of code repeatedly.

## While Loop
A "while" loop will run repeatedly until a certain condition has been met.

In [ ]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

When making a while loop, we need to ensure that something changes from iteration to iteration so that the while loop will terminate, otherwise, it will run forever. Here we used i += 1 (short for i = i + 1) to make i larger after each iteration. This is the most commonly used method to control a while loop.

## For Loop
A "for" loop will iterate over a sequence of value and terminate when the sequence has ended.

In [ ]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

We can also add if statements in a for loop. Here is a real example from our pairs trading algorithm:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = []
for i in stocks:
    if i not in selected:
        new_list.append(i)
print(stocks)
print(new_list)

['AAPL', 'GOOG', 'IBM', 'FB', 'F', 'V', 'G', 'GE']
['GOOG', 'FB', 'F', 'V', 'G', 'GE']

Here we iterated all the elements in the list 'stocks'. Later in this chapter, we will introduce a smarter way to do this, which is just a one-line code.

## Break and continue
These are two commonly used commands in a for loop. If "break" is triggered while a loop is executing, the loop will terminate immediately:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    print(i)
    if i == 'FB':
        break

AAPL
GOOG
IBM
FB

In [ ]:
# Ejemplo
# Cuando hay un ciclo dentro de otro, y solo se aplica 1 vez la sentencia "break", se rompe el ciclo interior
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
for a in selected:
  print('+++')
  for i in stocks:
      print(i)
      if a == i:
          break

+++
AAPL
+++
AAPL
GOOG
IBM

In [ ]:
# Si se quieren romper ambos ciclos:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
for a in selected:
  print('+++')
  for i in stocks:
      print(i)
      if a == i:
          # se rompe el for interno
          break
  else:
    # Si no se rompe el for, continúa
    # Si el break del inner for se ejecuta, esta sentencia se salta
    continue
  # Si el break del inner for se ejecuta, se rompe el outer for
  break

+++
AAPL

The "continue" command tells the loop to end this iteration and skip to the next iteration:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
for i in stocks:
    if i == 'FB':
        continue
    print(i)

AAPL
GOOG
IBM
F
V
G
GE

# List Comprehension
List comprehension is a Pythonic way to create lists. Common applications are to make new lists where each element is the result of some operations applied to each member of another sequence. For example, if we want to create a list of squares using for loop:

In [ ]:
squares = []
for i in [1,2,3,4,5]:
    squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25]

Using list comprehension:

In [ ]:
list = [1,2,3,4,5]
squares = [x**2 for x in list]
print(squares)

[1, 4, 9, 16, 25]

Recall the example above where we used a for loop to select stocks. Here we use list comprehension:

In [ ]:
stocks = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
selected = ['AAPL','IBM']
new_list = [x for x in stocks if x in selected]
print(new_list)

['AAPL', 'IBM']

A list comprehension consists of square brackets containing an expression followed by a "for" clause, and possibly "for" or "if" clauses. For example:

In [ ]:
print([(x, y) for x in [1,2,3] for y in [3,1,4] if x != y])
print([str(x)+' vs '+str(y) for x in ['AAPL','GOOG','IBM','FB'] for y in ['F','V','G','GE'] if x!=y])
#      #
print([[x,y] for x in [1,2,3] for y in ['uno','dos','3'] if x != len(y)])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
['AAPL vs F', 'AAPL vs V', 'AAPL vs G', 'AAPL vs GE', 'GOOG vs F', 'GOOG vs V', 'GOOG vs G', 'GOOG vs GE', 'IBM vs F', 'IBM vs V', 'IBM vs G', 'IBM vs GE', 'FB vs F', 'FB vs V', 'FB vs G', 'FB vs GE']
[[1, 'uno'], [1, 'dos'], [2, 'uno'], [2, 'dos'], [2, '3'], [3, '3']]

List comprehension is an elegant way to organize one or more for loops when creating a list.

# Summary
This chapter has introduced logical operations, loops, and list comprehension. In the next chapter, we will introduce functions and object-oriented programming, which will enable us to make our codes clean and versatile.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 03 Functions and Objective-Oriented Programming

# Introduction

In the last tutorial we introduced logical operations, loops and list comprehension. We will introduce functions and object-oriented programming in this chapter, which will enable us to build complex algorithms in more flexible ways.

# Functions
A function is a reusable block of code. We can use a function to output a value, or do anything else we want. We can easily define our own function by using the keyword "def".

In [ ]:
def product(x,y):
    return x*y
print(product(2,3))
print(product(5,10))

6
50

The keyword "def" is followed by the function name and the parenthesized list of formal parameters. The statements that form the body of the function start at the next line, and must be indented. The product() function above has "x" and "y" as its parameters. A function doesn't necessarily have parameters:

In [ ]:
def say_hi():
    print('Welcome to QuantConnect')
say_hi()

Welcome to QuantConnect

# Built-in Function
**range()** is a function that creates a list containing an arithmetic sequence. It's often used in for loops. The arguments must be integers. If the "step" argument is omitted, it defaults to 1.

In [ ]:
print(range(10))

for i in range(1,11):
  print(i)
print('---')
for i in range(11,1,-2):
  print(i)

range(0, 10)
1
2
3
4
5
6
7
8
9
10
---
11
9
7
5
3

**len()** is another function used together with range() to create a for loop. This function returns the length of an object. The argument must be a sequence or a collection.

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print('The length of tickers is {}'.format(len(tickers)))
for i in range(len(tickers)):
    print(tickers[i])

The length of tickers is 8
AAPL
GOOG
IBM
FB
F
V
G
GE
3

Note: If you want to print only the tickers without those numbers, then simply write "for ticker in tickers: print ticker"

**map(**) is a function that applies a specific function to every item of a sequence or collection, and returns a list of the results.

Because list at the moment is [1,2,3,4,5] and overwriting list() from builtins we del list

In [ ]:
print(list)
del list
list

[1, 2, 3, 4, 5]

list

In [ ]:
'''map() proporciona una forma de aplicar 
  una función a un conjunto de datos, uno 
  a uno, devolviendo un iterable del tipo map'''

tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
list(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]

In [ ]:
tickers = ['AAPL','GOOG','IBM','FB','F','V', 'G', 'GE']
print(list(map(len,tickers)))
print(map(len,tickers))

[4, 4, 3, 2, 1, 1, 1, 2]
<map object at 0x7f8104bc71d0>

The **lambda operator** is a way to create small anonymous functions. These functions are just needed where they have been created. For example:

In [34]:
print(list(map(lambda x: x**2, range(10))))
'''El operador lambda permite crear una función 
  'local', se crea, se ejecuta y no puede volver 
   a ser llamada en otra parte del código distinta 
   a donde se creó'''
list(map(lambda x: x.count('F'), tickers))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

[0, 0, 0, 1, 1, 0, 0, 0]

map() can be applied to more than one list. The lists have to have the same length.

In [ ]:
list(map(lambda x, y: x+y, [1,2,3,4,5],[5,4,3,2,1]))

[6, 6, 6, 6, 6]

**sorted()** takes a list or set and returns a new sorted list

In [ ]:
sorted([5,2,3,4,1])

[1, 2, 3, 4, 5]

We can add a "key" parameter to specify a function to be called on each list element prior to making comparisons. For example:

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
sorted(price_list, key = lambda x: x[1])

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

By default the values are sorted by ascending order. We can change it to descending by adding an optional parameter "reverse'.

In [36]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
print(sorted(price_list, key = lambda x: x[1],reverse = True))
print(price_list)

[('GOOG', 911.71), ('FB', 150), ('AAPL', 144.09), ('WMT', 75.32), ('MSFT', 69)]
[('AAPL', 144.09), ('GOOG', 911.71), ('MSFT', 69), ('FB', 150), ('WMT', 75.32)]

Lists also have a function list.sort(). This function takes the same "key" and "reverse" arguments as sorted(), but it doesn't return a new list.

In [ ]:
price_list = [('AAPL',144.09),('GOOG',911.71),('MSFT',69),('FB',150),('WMT',75.32)]
price_list.sort(key = lambda x: x[1])
print(price_list)

'''La diferencia entre sorted y .sort() es que 
    'sorted' NO modifica la lista, mientras que 
    '.sort()' SÍ                                 '''

[('MSFT', 69), ('WMT', 75.32), ('AAPL', 144.09), ('FB', 150), ('GOOG', 911.71)]

# Object-Oriented Programming
Python is an object-oriented programming language. It's important to understand the concept of "objects" because almost every kind of data from QuantConnect API is an object.

## Class
A class is a type of data, just like a string, float, or list. When we create an object of that data type, we call it an instance of a class.

In Python, everything is an object - everything is an instance of some class. The data stored inside an object are called attributes, and the functions which are associated with the object are called methods.

For example, as mentioned above, a list is an object of the "list" class, and it has a method list.sort().

We can create our own objects by defining a class. We would do this when it's helpful to group certain functions together. For example, we define a class named "Stock" here:

In [38]:
class stock:
    def __init__(self, ticker, open, close, volume):
        self.ticker = ticker
        self.open = open
        self.close = close
        self.volume = volume
        self.rate_return = float(close)/open - 1
 
    def update(self, open, close):
        self.open = open
        self.close = close
        self.rate_return = float(self.close)/self.open - 1
 
    def print_return(self):
        print(self.rate_return)

The "Stock" class has attributes "ticker", "open", "close", "volume" and "rate_return". Inside the class body, the first method is called __init__, which is a special method. When we create a new instance of the class, the __init__ method is immediately executed with all the parameters that we pass to the "Stock" object. The purpose of this method is to set up a new "Stock" object using data we have provided.

Here we create two Stock objects named "apple" and "google".

In [39]:
apple = stock('AAPL', 143.69, 144.09, 20109375)
google = stock('GOOG', 898.7, 911.7, 1561616)

Stock objects also have two other methods: update() and print_return(). We can access the attribues of a Stock object and call its methods:

In [ ]:
apple.ticker
google.print_return()
google.update(912.8,913.4)
google.print_return()

0.014465338822744034
0.0006573181419806673

By calling the update() function, we updated the open and close prices of a stock. Please note that when we use the attributes or call the methods **inside a class**, we need to specify them as self.attribute or self.method(), otherwise Python will deem them as global variables and thus raise an error.

We can add an attribute to an object anywhere:

In [40]:
apple.ceo = 'Tim Cook'
apple.ceo

'Tim Cook'

We can check what names (i.e. attributes and methods) are defined on an object using the dir() function:

In [60]:
# dir() permite hallar tanto los métodos como los atributos de un objeto
print(dir(google))

# Para hallar solo los métodos, implemento lo siguiente:
# Se crea una función que usaremos en nuestra función lambda o anónima
def boolToFunction(function,boolean):
  if boolean:
    return function

# Creo un set, donde verifico que cada elemento de 'dir(google)' se pueda "llamar", es decir, sea un método
# Nota: creo un set para no tener que eliminar todos los 'None' que tendrá el map()
methods_only = set(map(lambda x: boolToFunction(x,callable(getattr(google, x))),dir(google)))
# Remuevo el único None
methods_only.remove(None)
# Imprimo solo los métodos
print('Only methods:',methods_only)

['__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', '__weakref__', 'close', 'open', 'print_return', 'rate_return', 'ticker', 'update', 'volume']
Only methods: {'__init_subclass__', '__new__', '__ge__', '__repr__', '__str__', '__lt__', '__hash__', '__le__', 'update', '__delattr__', '__eq__', '__subclasshook__', '__format__', '__sizeof__', '__setattr__', '__class__', '__gt__', '__ne__', '__getattribute__', '__reduce_ex__', 'print_return', '__reduce__', '__dir__', '__init__'}

## Inheritance
Inheritance is a way of arranging classes in a hierarchy from the most general to the most specific. A "child" class is a more specific type of a "parent" class because a child class will inherit all the attribues and methods of its parent. For example, we define a class named "Child" which inherits "Stock":

In [58]:
class child(stock):
    def __init__(self,name):
        self.name = name

In [59]:
aa = child('aa')
print(aa.name)
aa.update(100,102)
print(aa.open)
print(aa.close)
print(aa.print_return())

aa
100
102
0.020000000000000018
None

As seen above, the new class Child has inherited the methods from Stock.

#Summary

In this chapter we have introduced functions and classes. When we write a QuantConnect algorithm, we would define our algorithm as a class (QCAlgorithm). This means our algorithm inherited the QC API methods from QCAlgorithm class.

In the next chapter, we will introduce NumPy and Pandas, which enable us to conduct scientific calculations in Python.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png">

Quantconnect

Introduction to Financial Python
</div>

# 04 NumPy and Basic Pandas

# Introduction

Now that we have introduced the fundamentals of Python, it's time to learn about NumPy and Pandas.

# NumPy
NumPy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. It also has strong integration with Pandas, which is another powerful tool for manipulating financial data.

Python packages like NumPy and Pandas contain classes and methods which we can use by importing the package:

In [27]:
import numpy as np

## Basic NumPy Arrays
A NumPy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. Here we make an array by passing a list of Apple stock prices:

In [63]:
price_list = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
price_array = np.array(price_list)
print(price_array, type(price_array))

[143.73 145.83 143.68 144.02 143.5  142.62] <class 'numpy.ndarray'>

Notice that the type of array is "ndarray" which is a multi-dimensional array. If we pass np.array() a list of lists, it will create a 2-dimensional array.

In [64]:
#Numpy sirve para crear arreglos multidimensionales o MATRICES
Ar = np.array([[1,3],[2,4]])
print(Ar, type(Ar))

[[1 3]
 [2 4]] <class 'numpy.ndarray'>

We get the dimensions of an ndarray using the .shape attribute:

In [65]:
print(Ar.shape)
#.shape() es el tamaño de la matriz

(2, 2)

If we create an 2-dimensional array (i.e. matrix), each row can be accessed by index:

In [72]:
print(Ar[0])
print(Ar[1])

[1 3]
[2 4]

If we want to access the matrix by column instead:

In [ ]:
print('the first column: ', Ar[:,0])
print('the second column: ', Ar[:,1])

the first column:  [1 2]
the second column:  [3 4]

In [75]:
newAr = np.array([[1,2,3],[3,4,5],[5,6,7]])
print('new Array\n',newAr)
#Filas
print('fila 1:',newAr[0])
print('fila 2:',newAr[1])
print('fila 3:',newAr[2])
#Columnas
print('Col 1:',newAr[:,0])
print('Col 2:',newAr[:,1])
print('Col 3:',newAr[:,2])

new Array
 [[1 2 3]
 [3 4 5]
 [5 6 7]]
fila 1: [1 2 3]
fila 2: [3 4 5]
fila 3: [5 6 7]
Col 1: [1 3 5]
Col 2: [2 4 6]
Col 3: [3 5 7]

## Array Functions
Some functions built in NumPy that allow us to perform calculations on arrays. For example, we can apply the natural logarithm to each element of an array:

In [ ]:
print(np.log(price_array))

[4.96793654 4.98244156 4.9675886  4.96995218 4.96633504 4.96018375]

Other functions return a single value:

In [ ]:
print(np.mean(price_array))
print(np.std(price_array))
print(np.sum(price_array))
print(np.max(price_array))
# Numpy permite hacer cálculos sobre todo un numpy array

143.89666666666668
0.9673790478515796
863.38
145.83

The functions above return the mean, standard deviation, total and maximum value of an array.

# Pandas
Pandas is one of the most powerful tools for dealing with financial data. 

First we need to import Pandas:

In [3]:
import pandas as pd

## Series
Series is a one-dimensional labeled array capable of holding any data type (integers, strings, float, Python object, etc.)

We create a Series by calling pd.Series(data), where data can be a dictionary, an array or just a scalar value.

In [4]:
price = [143.73, 145.83, 143.68, 144.02, 143.5, 142.62]
s = pd.Series(price)
print(s)

# Series crea un array unidimensional etiquetado con el index de cada elemento (similar a una tabla)
# si algún elemento es de un tipo de dato distinto, el tipo de dato del Series será Object
income = pd.Series([-12,1234.54,-43534.2,45,'a'])
print(income)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
dtype: float64
0        -12
1    1234.54
2   -43534.2
3         45
4          a
dtype: object

We can customize the indices of a new Series:

In [16]:
s = pd.Series(price,index = ['a','b','c','d','e','f'])
print(s)

# El index serán los cuadrados de los números del 1 al 6
s = pd.Series(price,index = list(map(lambda x:x**2,range(1,7))))
print(s)
s = pd.Series(price,index = ['a','b','c','d','e','f'])

a    143.73
b    145.83
c    143.68
d    144.02
e    143.50
f    142.62
dtype: float64
1     143.73
4     145.83
9     143.68
16    144.02
25    143.50
36    142.62
dtype: float64

Or we can change the indices of an existing Series:

In [12]:
s.index = [6,5,4,3,2,1]
s

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64

Series is like a list since it can be sliced by index:

In [13]:
print(s[1:])
print(s[:-2])

5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
dtype: float64
6    143.73
5    145.83
4    143.68
3    144.02
dtype: float64

Series is also like a dictionary whose values can be set or fetched by index label:

In [17]:
#Series actúa como un diccionario: se puede buscar o modificar por el índice 
print(s[4])
s[4] = 0
print(s)

a = pd.Series([1,2,3], index=['a','b','c'])
print(a)
# Cambia el 'value' de la llave 'a'
a['a']='changed'
print(a['a'])

143.5
a    143.73
b    145.83
c    143.68
d    144.02
e      0.00
f    142.62
dtype: float64
a    1
b    2
c    3
dtype: int64
changed

Series can also have a name attribute, which will be used when we make up a Pandas DataFrame using several series.

In [5]:
s = pd.Series(price, name = 'Apple Price List')
print(s)
print(s.name)

0    143.73
1    145.83
2    143.68
3    144.02
4    143.50
5    142.62
Name: Apple Price List, dtype: float64
Apple Price List

We can get the statistical summaries of a Series:

In [6]:
print(s.describe())

count      6.000000
mean     143.896667
std        1.059711
min      142.620000
25%      143.545000
50%      143.705000
75%      143.947500
max      145.830000
Name: Apple Price List, dtype: float64

## Time Index
Pandas has a built-in function specifically for creating date indices: pd.date_range(). We use it to create a new index for our Series:

In [9]:
'''
pd.date_range() >> sirve para crear rangos de fechas con:
                  * fecha de inicio
                  * # periodos
                  * frecuencia de los periodos
Los parámetros de pd.date_range() son:
time_index = pd.date_range('fecha inic', periods = # periodos,freq = D (days), M (months), Y(years)...) '''
time_index = pd.date_range('2017-01-01', periods = len(s),    freq = 'D')
print(time_index)
s.index = time_index
print(s)

DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')
2017-12-31    143.73
2018-12-31    145.83
2019-12-31    143.68
2020-12-31    144.02
2021-12-31    143.50
2022-12-31    142.62
Freq: A-DEC, Name: Apple Price List, dtype: float64

In [11]:
# Frecuencia: cada mes
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'M')
print(time_index)
# Frecuencia: cada inicio de mes
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'MS')
print(time_index)
# Frecuencia: cada año
time_index = pd.date_range('2017-01-01', periods = len(s), freq = 'Y')
print(time_index)

DatetimeIndex(['2017-01-31', '2017-02-28', '2017-03-31', '2017-04-30',
               '2017-05-31', '2017-06-30'],
              dtype='datetime64[ns]', freq='M')
DatetimeIndex(['2017-01-01', '2017-02-01', '2017-03-01', '2017-04-01',
               '2017-05-01', '2017-06-01'],
              dtype='datetime64[ns]', freq='MS')
DatetimeIndex(['2017-12-31', '2018-12-31', '2019-12-31', '2020-12-31',
               '2021-12-31', '2022-12-31'],
              dtype='datetime64[ns]', freq='A-DEC')

In [ ]:
'''
VALORES ACEPTADOS PARA FREQ:

Alias    Description
B        business day frequency
C        custom business day frequency
D        calendar day frequency
W        weekly frequency
M        month end frequency
SM       semi-month end frequency (15th and end of month)
BM       business month end frequency
CBM      custom business month end frequency
MS       month start frequency
SMS      semi-month start frequency (1st and 15th)
BMS      business month start frequency
CBMS     custom business month start frequency
Q        quarter end frequency
BQ       business quarter end frequency
QS       quarter start frequency
BQS      business quarter start frequency
A, Y     year end frequency
BA, BY   business year end frequency
AS, YS   year start frequency
BAS, BYS business year start frequency
BH       business hour frequency
H        hourly frequency
T, min   minutely frequency
S        secondly frequency
L, ms    milliseconds
U, us    microseconds
N        nanoseconds'''

Series are usually accessed using the iloc[] and loc[] methods. iloc[] is used to access elements by integer index, and loc[] is used to access the index of the series.

iloc[] is necessary when the index of a series are integers, take our previous defined series as example:

In [21]:
# .iloc es necesaria para cuando los índices son enteros
s.index = [6,5,4,3,2,1]
print(s)
# toma la clave '1' y encuentra su 'value'
print(s[1])
# toma la posición '1' de la Serie y devuelve el valor de la Serie en esa posición
print(s.iloc[1])

6    143.73
5    145.83
4    143.68
3    144.02
2    143.50
1    142.62
Name: Apple Price List, dtype: float64
142.62
145.83

If we intended to take the second element of the series, we would make a mistake here, because the index are integers. In order to access to the element we want, we use iloc[] here:

In [17]:
# .iloc sirve para acceder a un elemento en cierto index de la Serie
# (NO se tiene en cuenta la etiqueta de la Serie sino el index dentro de la Serie)
print(s.iloc[4])

143.5

While working with time series data, we often use time as the index. Pandas provides us with various methods to access the data by time index

In [22]:
time_index = pd.date_range('2017-01-01', periods = len(s),    freq = 'D')
s.index = time_index
print(s['2017-01-03'])

143.68

We can even access to a range of dates:

In [25]:
print(s['2017-01-02':'2017-01-05'])

2017-01-02    145.83
2017-01-03    143.68
2017-01-04    144.02
2017-01-05    143.50
Freq: D, Name: Apple Price List, dtype: float64

Series[] provides us a very flexible way to index data. We can add any condition in the square brackets:

In [31]:
### Se pueden condicionar los índices que se quieren mostrar

# Evalúa si para cada los valores de s, es menor que la media, y devuele la Serie
print(s < np.mean(s))
# Se obtienen los valores de la Serie para los indices cuyo resultado anterior haya sido 'True'
print(s[s < np.mean(s)] )

# Evalúa, en cada registro, si ambas condiciones se cumplen, y sea cual sea el resultado, lo .append a la lista
print([(s > np.mean(s)) & (s < np.mean(s) + 1.64*np.std(s))])

2017-01-01     True
2017-01-02    False
2017-01-03     True
2017-01-04    False
2017-01-05     True
2017-01-06     True
Freq: D, Name: Apple Price List, dtype: bool
2017-01-01    143.73
2017-01-03    143.68
2017-01-05    143.50
2017-01-06    142.62
Name: Apple Price List, dtype: float64
[2017-01-01    False
2017-01-02    False
2017-01-03    False
2017-01-04     True
2017-01-05    False
2017-01-06    False
Freq: D, Name: Apple Price List, dtype: bool]

As demonstrated, we can use logical operators like & (and), | (or) and ~ (not) to group multiple conditions.

# Summary
Here we have introduced NumPy and Pandas for scientific computing in Python. In the next chapter, we will dive into Pandas to learn resampling and manipulating Pandas DataFrame, which are commonly used in financial data analysis.

<div align="center">
<img style="display: block; margin: auto;" alt="photo" src="https://cdn.quantconnect.com/web/i/icon.png"> <img style="display: block; margin: auto;" alt="photo" src="https://www.marketing-branding.com/wp-content/uploads/2020/07/google-colaboratory-colab-guia-completa.jpg " width="50" height="50">
<img style="display: block; margin: auto;" alt="photo" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Yahoo_Finance_Logo_2019.svg" width="50" height="50">  

Quantconnect -> Google Colab with Yahoo Finance data

Introduction to Financial Python
</div>

# 05 Pandas-Resampling and DataFrame

# Introduction
In the last chapter we had a glimpse of Pandas. In this chapter we will learn about resampling methods and the DataFrame object, which is a powerful tool for financial data analysis.

# Fetching Data
Here we use the Yahoo Finance to retrieve data.

In [7]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.1.74-py2.py3-none-any.whl (27 kB)
Collecting requests>=2.26
  Downloading requests-2.28.1-py3-none-any.whl (62 kB)
     |████████████████████████████████| 62 kB 1.1 MB/s
Requirement already satisfied: pandas>=0.24.0 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.15 in /usr/local/lib/python3.7/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.7/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /usr/local/lib/python3.7/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.0->yfinance) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2022.6.15)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (1.24.3)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.26->yfinance) (2.1.0)
Installing collected packages: requests, yfinance
  Attempting uninstall: requests
    Found existing installation: requests 2.23.0
    Uninstalling requests-2.23.0:
      Successfully uninstalled requests-2.23.0
Successfully installed requests-2.28.1 yfinance-0.1.74

In [8]:
import yfinance as yf

aapl = yf.Ticker("AAPL")

# get stock info
print(aapl.info)

# get historical market data
aapl_table = aapl.history(start="2016-01-01",  end="2017-12-31")
aapl_table

{'zip': '95014', 'sector': 'Technology', 'fullTimeEmployees': 154000, 'longBusinessSummary': 'Apple Inc. designs, manufactures, and markets smartphones, personal computers, tablets, wearables, and accessories worldwide. It also sells various related services. In addition, the company offers iPhone, a line of smartphones; Mac, a line of personal computers; iPad, a line of multi-purpose tablets; AirPods Max, an over-ear wireless headphone; and wearables, home, and accessories comprising AirPods, Apple TV, Apple Watch, Beats products, HomePod, and iPod touch. Further, it provides AppleCare support services; cloud services store services; and operates various platforms, including the App Store that allow customers to discover and download applications and digital content, such as books, music, video, games, and podcasts. Additionally, the company offers various services, such as Apple Arcade, a game subscription service; Apple Music, which offers users a curated listening experience with on-demand radio stations; Apple News+, a subscription news and magazine service; Apple TV+, which offers exclusive original content; Apple Card, a co-branded credit card; and Apple Pay, a cashless payment service, as well as licenses its intellectual property. The company serves consumers, and small and mid-sized businesses; and the education, enterprise, and government markets. It distributes third-party applications for its products through the App Store. The company also sells its products through its retail and online stores, and direct sales force; and third-party cellular network carriers, wholesalers, retailers, and resellers. Apple Inc. was incorporated in 1977 and is headquartered in Cupertino, California.', 'city': 'Cupertino', 'phone': '408 996 1010', 'state': 'CA', 'country': 'United States', 'companyOfficers': [], 'website': 'https://www.apple.com', 'maxAge': 1, 'address1': 'One Apple Park Way', 'industry': 'Consumer Electronics', 'ebitdaMargins': 0.3343, 'profitMargins': 0.25709, 'grossMargins': 0.43313998, 'operatingCashflow': 118224003072, 'revenueGrowth': 0.019, 'operatingMargins': 0.30533, 'ebitda': 129556996096, 'targetLowPrice': 136, 'recommendationKey': 'buy', 'grossProfits': 152836000000, 'freeCashflow': 83344621568, 'targetMedianPrice': 185, 'currentPrice': 171.52, 'earningsGrowth': -0.077, 'currentRatio': 0.865, 'returnOnAssets': 0.22204, 'numberOfAnalystOpinions': 44, 'targetMeanPrice': 183.76, 'debtToEquity': 205.984, 'returnOnEquity': 1.62816, 'targetHighPrice': 220, 'totalCash': 48230998016, 'totalDebt': 119691001856, 'totalRevenue': 387541991424, 'totalCashPerShare': 3.001, 'financialCurrency': 'USD', 'revenuePerShare': 23.732, 'quickRatio': 0.697, 'recommendationMean': 1.9, 'exchange': 'NMS', 'shortName': 'Apple Inc.', 'longName': 'Apple Inc.', 'exchangeTimezoneName': 'America/New_York', 'exchangeTimezoneShortName': 'EDT', 'isEsgPopulated': False, 'gmtOffSetMilliseconds': '-14400000', 'quoteType': 'EQUITY', 'symbol': 'AAPL', 'messageBoardId': 'finmb_24937', 'market': 'us_market', 'annualHoldingsTurnover': None, 'enterpriseToRevenue': 7.297, 'beta3Year': None, 'enterpriseToEbitda': 21.828, '52WeekChange': 0.14568162, 'morningStarRiskRating': None, 'forwardEps': 6.44, 'revenueQuarterlyGrowth': None, 'sharesOutstanding': 16070800384, 'fundInceptionDate': None, 'annualReportExpenseRatio': None, 'totalAssets': None, 'bookValue': 3.61, 'sharesShort': 107535584, 'sharesPercentSharesOut': 0.0067000003, 'fundFamily': None, 'lastFiscalYearEnd': 1632528000, 'heldPercentInstitutions': 0.59714, 'netIncomeToCommon': 99632996352, 'trailingEps': 6.05, 'lastDividendValue': 0.23, 'SandP52WeekChange': -0.056043804, 'priceToBook': 47.512466, 'heldPercentInsiders': 0.0007, 'nextFiscalYearEnd': 1695600000, 'yield': None, 'mostRecentQuarter': 1656115200, 'shortRatio': 1.47, 'sharesShortPreviousMonthDate': 1656547200, 'floatShares': 16053234880, 'beta': 1.230174, 'enterpriseValue': 2827915362304, 'priceHint': 2, 'threeYearAverageReturn': None, 'lastSplitDate': 1598832000, 'lastSplitFactor': '4:1', 'legalType': None, 'lastDividendDate': 1659657600, 'morningStarOverallRating': None, 'earningsQuarterlyGrowth': -0.106, 'priceToSalesTrailing12Months': 7.1126842, 'dateShortInterest': 1659052800, 'pegRatio': 3.01, 'ytdReturn': None, 'forwardPE': 26.633541, 'lastCapGain': None, 'shortPercentOfFloat': 0.0067000003, 'sharesShortPriorMonth': 112994371, 'impliedSharesOutstanding': 0, 'category': None, 'fiveYearAverageReturn': None, 'previousClose': 174.15, 'regularMarketOpen': 173.03, 'twoHundredDayAverage': 160.461, 'trailingAnnualDividendYield': 0.005110537, 'payoutRatio': 0.1471, 'volume24Hr': None, 'regularMarketDayHigh': 173.74, 'navPrice': None, 'averageDailyVolume10Day': 64119090, 'regularMarketPreviousClose': 174.15, 'fiftyDayAverage': 151.3188, 'trailingAnnualDividendRate': 0.89, 'open': 173.03, 'toCurrency': None, 'averageVolume10days': 64119090, 'expireDate': None, 'algorithm': None, 'dividendRate': 0.92, 'exDividendDate': 1659657600, 'circulatingSupply': None, 'startDate': None, 'regularMarketDayLow': 171.3101, 'currency': 'USD', 'trailingPE': 28.350412, 'regularMarketVolume': 70346295, 'lastMarket': None, 'maxSupply': None, 'openInterest': None, 'marketCap': 2756463820800, 'volumeAllCurrencies': None, 'strikePrice': None, 'averageVolume': 76763275, 'dayLow': 171.3101, 'ask': 170.85, 'askSize': 900, 'volume': 70346295, 'fiftyTwoWeekHigh': 182.94, 'fromCurrency': None, 'fiveYearAvgDividendYield': 1.05, 'fiftyTwoWeekLow': 129.04, 'bid': 170.7, 'tradeable': False, 'dividendYield': 0.0054, 'bidSize': 900, 'dayHigh': 173.74, 'coinMarketCapLink': None, 'regularMarketPrice': 171.52, 'preMarketPrice': None, 'logo_url': 'https://logo.clearbit.com/apple.com', 'trailingPegRatio': 3.1143}

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2016-01-04,23.523350,24.156081,23.383508,24.151495,270597600,0.0,0
2016-01-05,24.243199,24.266123,23.477504,23.546278,223164000,0.0,0
2016-01-06,23.053391,23.468334,22.895209,23.085485,273829600,0.0,0
2016-01-07,22.622400,22.954812,22.106587,22.111172,324377600,0.0,0
2016-01-08,22.592595,22.720974,22.182237,22.228086,283192000,0.0,0
...,...,...,...,...,...,...,...
2017-12-22,41.594684,41.770893,41.551824,41.673264,65397600,0.0,0
2017-12-26,40.670771,40.830311,40.404075,40.616005,132742000,0.0,0
2017-12-27,40.504098,40.666017,40.411231,40.623158,85992800,0.0,0
2017-12-28,40.718388,40.920791,40.594565,40.737438,65920800,0.0,0
2017-12-29,40.604104,40.620771,40.294549,40.296928,103999600,0.0,0

We will create a Series named "aapl" whose values are Apple's daily closing prices, which are of course indexed by dates:

In [40]:
aapl = aapl_table['Close']['2017']

In [44]:
print(aapl)
# Se puede filtrar la serie por fecha y alguna 'columna' de la historia financiera
aapl = aapl_table['High']['2016']
print(aapl)

Date
2016-01-04    23.383508
2016-01-05    23.477502
2016-01-06    22.895205
2016-01-07    22.106587
2016-01-08    22.182239
                ...
2016-12-23    27.088603
2016-12-27    27.299510
2016-12-28    27.231552
2016-12-29    27.278421
2016-12-30    27.051099
Name: Low, Length: 252, dtype: float64
Date
2016-01-04    24.156081
2016-01-05    24.266121
2016-01-06    23.468331
2016-01-07    22.954812
2016-01-08    22.720976
                ...
2016-12-23    27.306549
2016-12-27    27.606511
2016-12-28    27.658070
2016-12-29    27.444809
2016-12-30    27.465899
Name: High, Length: 252, dtype: float64

Recall that we can fetch a specific data point using series['yyyy-mm-dd']. We can also fetch the data in a specific month using series['yyyy-mm'].

In [46]:

# Se puede filtrar por año, año-mes, año-mes-dia
print(aapl['2016-1'])

Date
2016-01-04    24.156081
2016-01-05    24.266121
2016-01-06    23.468331
2016-01-07    22.954812
2016-01-08    22.720976
2016-01-11    22.709511
2016-01-12    23.083190
2016-01-13    23.197821
2016-01-14    23.035052
2016-01-15    22.400023
2016-01-19    22.615526
2016-01-20    22.510064
2016-01-21    22.438994
2016-01-22    23.259712
2016-01-25    23.275759
2016-01-26    23.126751
2016-01-27    22.152433
2016-01-28    21.668715
2016-01-29    22.315203
Name: High, dtype: float64

In [ ]:
aapl['2017-2':'2017-4']

Date
2017-02-01    30.341726
2017-02-02    30.289885
2017-02-03    30.419493
2017-02-06    30.704651
2017-02-07    30.996870
                ...
2017-04-24    33.997528
2017-04-25    34.208179
2017-04-26    34.006985
2017-04-27    34.033024
2017-04-28    33.999889
Name: Close, Length: 61, dtype: float64

.head(N) and .tail(N) are methods for quickly accessing the first or last N elements.

In [52]:
# Accede a los primero 5 
print(aapl.head(5))
# Accede a los últimos 10
print(aapl.tail(10))
# Accede a los últimos 3 de noviembre de 2016
print(aapl['2016-11'].tail(3))
# Accede al primero de 'Open' del 2017
print(aapl_table['Open']['2017'].head(1))

Date
2016-01-04    24.156081
2016-01-05    24.266121
2016-01-06    23.468331
2016-01-07    22.954812
2016-01-08    22.720976
Name: High, dtype: float64
Date
2016-12-16    27.301858
2016-12-19    27.508086
2016-12-20    27.536204
2016-12-21    27.512770
2016-12-22    27.304199
2016-12-23    27.306549
2016-12-27    27.606511
2016-12-28    27.658070
2016-12-29    27.444809
2016-12-30    27.465899
Name: High, dtype: float64
Date
2016-11-28    26.357429
2016-11-29    26.254311
2016-11-30    26.294146
Name: High, dtype: float64
Date
2017-01-03    27.137813
Name: Open, dtype: float64

# Resampling
**_series.resample(freq)_** is a class called "DatetimeIndexResampler" which groups data in a Series object into regular time intervals. The argument "freq" determines the length of each interval.

**_series.resample.mean()_** is a complete statement that groups data into intervals, and then compute the mean of each interval. For example, if we want to aggregate the daily data into monthly data by mean:

In [53]:
# Reagrupa la data en una frecuencia (intervalos de tiempo = mes) y por cada grupo, obtiene la media
by_month = aapl.resample('M').mean()
print(by_month)

DatetimeIndexResampler [freq=<MonthEnd>, axis=0, closed=right, label=right, convention=start, origin=start_day]

We can also aggregate the data by week:

In [60]:
by_week = aapl.resample('W').mean()
# .head() obtiene los primeros 5 
print(by_week.head())

# My example
# Reagrupa por trimestre y obtiene el valor máximo
by_bimester = aapl.resample('2M').max()
print(by_bimester)
# .tail() obtiene los 5 últimos
print(by_bimester.tail())

Date
2016-01-10    23.513264
2016-01-17    22.885119
2016-01-24    22.706074
2016-01-31    22.507772
2016-02-07    22.232398
Freq: W-SUN, Name: High, dtype: float64
Date
2016-01-31    24.266121
2016-03-31    25.451151
2016-05-31    25.905222
2016-07-31    24.244879
2016-09-30    27.087791
2016-11-30    27.673009
2017-01-31    27.658070
Freq: 2M, Name: High, dtype: float64
Date
2016-05-31    25.905222
2016-07-31    24.244879
2016-09-30    27.087791
2016-11-30    27.673009
2017-01-31    27.658070
Freq: 2M, Name: High, dtype: float64

We can also aggregate the data by month with max:

In [ ]:
aapl.resample('M').max()

Date
2017-01-31    28.739218
2017-02-28    32.451969
2017-03-31    34.111141
2017-04-30    34.264977
2017-05-31    37.099133
2017-06-30    36.944649
2017-07-31    36.471699
2017-08-31    39.129719
2017-09-30    39.141655
2017-10-31    40.332241
2017-11-30    42.050140
2017-12-31    42.244392
Freq: M, Name: Close, dtype: float64

We can choose almost any frequency by using the format 'nf', where 'n' is an integer and 'f' is M for month, W for week and D for day.

In [ ]:
three_day = aapl.resample('3D').mean()
two_week = aapl.resample('2W').mean()
two_month = aapl.resample('2M').mean()


print(three_day)
print(two_week)
print(two_month )

Date
2017-01-03    27.398286
2017-01-06    27.787132
2017-01-09    28.110774
2017-01-12    28.078175
2017-01-15    28.279665
                ...
2017-12-17    42.019310
2017-12-20    41.854095
2017-12-23          NaN
2017-12-26    40.886700
2017-12-29    40.522736
Freq: 3D, Name: Close, Length: 121, dtype: float64
Date
2017-01-08    27.495497
2017-01-22    28.172571
2017-02-05    29.108263
2017-02-19    31.516817
2017-03-05    32.595556
2017-03-19    33.017881
2017-04-02    33.625218
2017-04-16    33.849726
2017-04-30    33.791843
2017-05-14    35.697633
2017-05-28    36.496181
2017-06-11    36.515007
2017-06-25    34.529047
2017-07-09    34.265135
2017-07-23    35.278873
2017-08-06    36.272775
2017-08-20    37.904119
2017-09-03    38.458793
2017-09-17    38.282708
2017-10-01    36.840876
2017-10-15    37.071593
2017-10-29    37.757321
2017-11-12    41.032237
2017-11-26    41.204375
2017-12-10    40.867067
2017-12-24    41.620866
2018-01-07    40.795709
Freq: 2W-SUN, Name: Close, dtype: float64
Date
2017-01-31    28.178332
2017-03-31    32.524054
2017-05-31    35.056855
2017-07-31    35.186964
2017-09-30    37.761187
2017-11-30    39.402611
2018-01-31    41.160038
Freq: 2M, Name: Close, dtype: float64

Besides the mean() method, other methods can also be used with the resampler:

In [ ]:
std = aapl.resample('W').std()
max = aapl.resample('W').max()
min = aapl.resample('W').min()


print(std)
print(max)
print(min)

Date
2017-01-08    0.203368
2017-01-15    0.072530
2017-01-22    0.025554
2017-01-29    0.245288
2017-02-05    0.943260
2017-02-12    0.252001
2017-02-19    0.231394
2017-02-26    0.059345
2017-03-05    0.340094
2017-03-12    0.076284
2017-03-19    0.177834
2017-03-26    0.157262
2017-04-02    0.319806
2017-04-09    0.128689
2017-04-16    0.212476
2017-04-23    0.174672
2017-04-30    0.090027
2017-05-07    0.235639
2017-05-14    0.352980
2017-05-21    0.536091
2017-05-28    0.060392
2017-06-04    0.281225
2017-06-11    0.620034
2017-06-18    0.382564
2017-06-25    0.128893
2017-07-02    0.264113
2017-07-09    0.158890
2017-07-16    0.404281
2017-07-23    0.124988
2017-07-30    0.384441
2017-08-06    0.924388
2017-08-13    0.467469
2017-08-20    0.435251
2017-08-27    0.275762
2017-09-03    0.251722
2017-09-10    0.381637
2017-09-17    0.294141
2017-09-24    0.735195
2017-10-01    0.354840
2017-10-08    0.204857
2017-10-15    0.118733
2017-10-22    0.517001
2017-10-29    0.680452
2017-11-05    0.560686
2017-11-12    0.190971
2017-11-19    0.436199
2017-11-26    0.563047
2017-12-03    0.427439
2017-12-10    0.073130
2017-12-17    0.205266
2017-12-24    0.194120
2017-12-31    0.190390
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.787132
2017-01-15    28.220753
2017-01-22    28.279665
2017-01-29    28.739218
2017-02-05    30.419493
2017-02-12    31.341911
2017-02-19    32.122974
2017-02-26    32.451969
2017-03-05    33.086281
2017-03-12    33.022373
2017-03-19    33.299305
2017-03-26    33.481544
2017-04-02    34.111141
2017-04-09    34.264977
2017-04-16    33.886284
2017-04-23    33.713501
2017-04-30    34.208179
2017-05-07    35.256695
2017-05-14    37.099133
2017-05-21    37.004063
2017-05-28    36.597664
2017-06-04    36.944649
2017-06-11    36.925632
2017-06-18    34.838963
2017-06-25    34.779545
2017-07-02    34.658337
2017-07-09    34.266190
2017-07-16    35.421230
2017-07-23    35.891800
2017-07-30    36.471699
2017-08-06    37.346291
2017-08-13    38.277939
2017-08-20    38.557095
2017-08-27    38.170567
2017-09-03    39.141655
2017-09-10    38.671623
2017-09-17    38.533234
2017-09-24    37.872326
2017-10-01    36.798645
2017-10-08    37.075409
2017-10-15    37.457165
2017-10-22    38.287479
2017-10-29    38.903053
2017-11-05    41.157795
2017-11-12    42.050140
2017-11-19    41.657745
2017-11-26    41.897190
2017-12-03    41.686470
2017-12-10    40.659222
2017-12-17    41.657745
2017-12-24    42.244392
2017-12-31    40.965721
Freq: W-SUN, Name: Close, dtype: float64
Date
2017-01-08    27.341724
2017-01-15    28.041645
2017-01-22    28.227821
2017-01-29    28.272598
2017-02-05    28.597816
2017-02-12    30.704651
2017-02-19    31.547823
2017-02-26    32.314690
2017-03-05    32.409355
2017-03-12    32.823563
2017-03-19    32.896942
2017-03-26    33.098122
2017-04-02    33.344276
2017-04-09    33.926514
2017-04-16    33.384510
2017-04-23    33.296936
2017-04-30    33.997528
2017-05-07    34.681545
2017-05-14    36.215267
2017-05-21    35.708805
2017-05-28    36.443184
2017-06-04    36.305332
2017-06-11    35.406971
2017-06-18    33.812263
2017-06-25    34.463455
2017-07-02    34.147358
2017-07-09    33.921577
2017-07-16    34.475338
2017-07-23    35.544815
2017-07-30    35.530552
2017-08-06    35.347557
2017-08-13    37.058720
2017-08-20    37.578846
2017-08-27    37.509666
2017-09-03    38.526081
2017-09-10    37.848465
2017-09-17    37.764950
2017-09-24    36.240326
2017-10-01    35.920620
2017-10-08    36.619694
2017-10-15    37.182777
2017-10-22    37.216179
2017-10-29    37.261517
2017-11-05    39.778702
2017-11-12    41.575333
2017-11-19    40.486816
2017-11-26    40.702312
2017-12-03    40.582603
2017-12-10    40.470051
2017-12-17    41.114185
2017-12-24    41.748734
2017-12-31    40.522736
Freq: W-SUN, Name: Close, dtype: float64

Often we want to calculate monthly returns of a stock, based on prices on the last day of each month. To fetch those prices, we use the series.resample.agg() method:

In [ ]:
# .agg() aplica la(s) funcion(es) parámetro a la Serie 
last_day = aapl.resample('M').agg(lambda x: x[-1])
print(last_day)

Date
2017-01-31    28.597816
2017-02-28    32.423561
2017-03-31    34.002254
2017-04-30    33.999889
2017-05-31    36.305332
2017-06-30    34.228172
2017-07-31    35.347557
2017-08-31    39.129719
2017-09-30    36.772392
2017-10-31    40.332241
2017-11-30    41.150097
2017-12-31    40.522736
Freq: M, Name: Close, dtype: float64

Or directly calculate the monthly rates of return using the data for the first day and the last day:

In [ ]:
monthly_return = aapl.resample('M').agg(lambda x: x[-1]/x[0] - 1)
print(monthly_return)

Date
2017-01-31    0.044770
2017-02-28    0.068613
2017-03-31    0.027684
2017-04-30   -0.000348
2017-05-31    0.046463
2017-06-30   -0.059799
2017-07-31    0.036446
2017-08-31    0.097261
2017-09-30   -0.060530
2017-10-31    0.099018
2017-11-30    0.033422
2017-12-31   -0.010640
Freq: M, Name: Close, dtype: float64

Series object also provides us some convenient methods to do some quick calculation.

In [ ]:
print(monthly_return.mean())
print(monthly_return.std())
print(monthly_return.max())

0.02686331860727394
0.052258487776588924
0.09901841642506737

Another two methods frequently used on Series are .diff() and .pct_change(). The former calculates the difference between consecutive elements, and the latter calculates the percentage change.

In [ ]:
# Calcula la diferncia entre 2 registro consecutivos
print(last_day.diff())
# Calcula el % de diferencia entre 2 registros consecutivos
print(last_day.pct_change())

Date
2017-01-31         NaN
2017-02-28    3.825745
2017-03-31    1.578693
2017-04-30   -0.002365
2017-05-31    2.305443
2017-06-30   -2.077160
2017-07-31    1.119385
2017-08-31    3.782162
2017-09-30   -2.357327
2017-10-31    3.559849
2017-11-30    0.817856
2017-12-31   -0.627361
Freq: M, Name: Close, dtype: float64
Date
2017-01-31         NaN
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Notice that we induced a NaN value while calculating percentage changes i.e. returns.

When dealing with NaN values, we usually either removing the data point or fill it with a specific value. Here we fill it with 0:

In [ ]:
daily_return = last_day.pct_change()
#.fillna(x) reemplaza valores NaN por 'x'
print(daily_return.fillna(0))

Date
2017-01-31    0.000000
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

Alternatively, we can fill a NaN with the next fitted value. This is called 'backward fill', or 'bfill' in short:

In [ ]:
daily_return = last_day.pct_change()
# bfill rellena con el registro (distinto a NaN) siguiente
print(daily_return.fillna(method = 'bfill'))

Date
2017-01-31    0.133778
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

As expected, since there is a 'backward fill' method, there must be a 'forward fill' method, or 'ffill' in short. However we can't use it here because the NaN is the first value.

We can also simply remove NaN values by **_.dropna()_**

In [ ]:
# Como no hay registros anteriores al que tiene NaN, NO se puede hacer ffill
daily_return = last_day.pct_change()
# Se elimina los NaN
daily_return.dropna()

Date
2017-02-28    0.133778
2017-03-31    0.048690
2017-04-30   -0.000070
2017-05-31    0.067807
2017-06-30   -0.057214
2017-07-31    0.032704
2017-08-31    0.106999
2017-09-30   -0.060244
2017-10-31    0.096808
2017-11-30    0.020278
2017-12-31   -0.015246
Freq: M, Name: Close, dtype: float64

# DataFrame
The **DataFrame** is the most commonly used data structure in Pandas. It is essentially a table, just like an Excel spreadsheet.

More precisely, a DataFrame is a collection of Series objects, each of which may contain different data types. A DataFrame can be created from various data types: dictionary, 2-D numpy.ndarray, a Series or another DataFrame.

## Create DataFrames
The most common method of creating a DataFrame is passing a dictionary:

In [4]:
import pandas as pd

dict = {'AAPL': [143.5, 144.09, 142.73, 144.18, 143.77],'GOOG':[898.7, 911.71, 906.69, 918.59, 926.99],
        'IBM':[155.58, 153.67, 152.36, 152.94, 153.49]}
data_index = pd.date_range('2017-07-03',periods = 5, freq = 'D')
'''
El DataFrame se crea con un diccionario: 
                            * columnas = clave del dicc
                            * filas = valores 
'''
df = pd.DataFrame(dict, index = data_index)
print(df)

              AAPL    GOOG     IBM
2017-07-03  143.50  898.70  155.58
2017-07-04  144.09  911.71  153.67
2017-07-05  142.73  906.69  152.36
2017-07-06  144.18  918.59  152.94
2017-07-07  143.77  926.99  153.49

## Manipulating DataFrames
We can fetch values in a DataFrame by columns and index. Each column in a DataFrame is essentially a Pandas Series. We can fetch a column by square brackets: **df['column_name']**

If a column name contains no spaces, then we can also use df.column_name to fetch a column:

In [9]:
df = aapl_table
'''
Si la columna:
  NO contiene espacios: df.nombreColumna
  SI contiene espacios: df['nombreColumna]  
'''

print(df.Close.tail(5))
print(df['Volume'].tail(5))

Date
2017-12-22    41.673264
2017-12-26    40.616005
2017-12-27    40.623158
2017-12-28    40.737438
2017-12-29    40.296928
Name: Close, dtype: float64
Date
2017-12-22     65397600
2017-12-26    132742000
2017-12-27     85992800
2017-12-28     65920800
2017-12-29    103999600
Name: Volume, dtype: int64

All the methods we applied to a Series index such as iloc[], loc[] and resampling methods, can also be applied to a DataFrame:

In [10]:
aapl_2016 = df['2016']
aapl_month = aapl_2016.resample('M').agg(lambda x: x[-1])
print(aapl_month)

                 Open       High        Low      Close     Volume  Dividends  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203  257666000        0.0
2016-02-29  22.325654  22.641431  22.277250  22.286470  140865200        0.0
2016-03-31  25.289805  25.331294  25.096189  25.121544  103553600        0.0
2016-04-30  21.664132  21.832393  21.323002  21.606508  274126000        0.0
2016-05-31  23.096980  23.282499  22.916101  23.157274  169228800        0.0
2016-06-30  21.900393  22.208816  21.867928  22.169394  143345600        0.0
2016-07-31  24.161392  24.244875  24.043124  24.166029  110934800        0.0
2016-08-31  24.635014  24.847183  24.630350  24.737600  118649600        0.0
2016-09-30  26.220454  26.432624  26.066573  26.358015  145516400        0.0
2016-10-31  26.497908  26.633138  26.392988  26.472261  105677600        0.0
2016-11-30  26.153537  26.294148  25.841851  25.900438  144649200        0.0
2016-12-31  27.337011  27.465903  27.051103  27.142500  122345200        0.0

            Stock Splits
Date
2016-01-31             0
2016-02-29             0
2016-03-31             0
2016-04-30             0
2016-05-31             0
2016-06-30             0
2016-07-31             0
2016-08-31             0
2016-09-30             0
2016-10-31             0
2016-11-30             0
2016-12-31             0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.
  """Entry point for launching an IPython kernel.

In [11]:
# Tomo febrero/2017
appl_2017 = df['2017-2']
# Reagrupo por semana y tomo el valor de la media de cada una
appl_feb_weekly = appl_2017.resample('W').mean()
print(appl_feb_weekly)

                 Open       High        Low      Close        Volume  \
Date
2017-02-05  29.943770  30.392943  29.914867  30.181246  2.269369e+08
2017-02-12  30.759704  30.997595  30.694363  30.913055  1.091594e+08
2017-02-19  31.672832  31.864420  31.565504  31.769331  1.093340e+08
2017-02-26  32.124618  32.245832  31.990459  32.186402  8.790890e+07
2017-03-05  32.271130  32.348801  32.125202  32.235825  8.748060e+07

            Dividends  Stock Splits
Date
2017-02-05     0.0000           0.0
2017-02-12     0.0285           0.0
2017-02-19     0.0000           0.0
2017-02-26     0.0000           0.0
2017-03-05     0.0000           0.0

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Indexing a DataFrame with a datetimelike index using a single string to slice the rows, like `frame[string]`, is deprecated and will be removed in a future version. Use `frame.loc[string]` instead.

We may select certain columns of a DataFrame using their names:

In [14]:
aapl_bar = aapl_month[['Open', 'High', 'Low', 'Close']]
print(aapl_bar)
# Selecciona las columnas 'Stock Splits' y 'Close'
aapl_stock_close = appl_feb_weekly[['Stock Splits','Close']]
print(aapl_stock_close)

                 Open       High        Low      Close
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203
2016-02-29  22.325654  22.641431  22.277250  22.286470
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-04-30  21.664132  21.832393  21.323002  21.606508
2016-05-31  23.096980  23.282499  22.916101  23.157274
2016-06-30  21.900393  22.208816  21.867928  22.169394
2016-07-31  24.161392  24.244875  24.043124  24.166029
2016-08-31  24.635014  24.847183  24.630350  24.737600
2016-09-30  26.220454  26.432624  26.066573  26.358015
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153537  26.294148  25.841851  25.900438
2016-12-31  27.337011  27.465903  27.051103  27.142500
            Stock Splits      Close
Date
2017-02-05           0.0  30.181246
2017-02-12           0.0  30.913055
2017-02-19           0.0  31.769331
2017-02-26           0.0  32.186402
2017-03-05           0.0  32.235825

We can even specify both rows and columns using loc[]. The row indices and column names are separated by a comma:

In [17]:
print(aapl_month.loc['2016-03':'2016-06',['Open', 'High', 'Low', 'Close']])
# Toma desde 5/2/2017 hasta 19/2/2017, y las columnas de Stock Splits y Low
print(appl_feb_weekly.loc['2017-02-05':'2017-02-19',['Stock Splits','Low']])

                 Open       High        Low      Close
Date
2016-03-31  25.289805  25.331294  25.096189  25.121544
2016-04-30  21.664132  21.832393  21.323002  21.606508
2016-05-31  23.096980  23.282499  22.916101  23.157274
2016-06-30  21.900393  22.208816  21.867928  22.169394
            Stock Splits        Low
Date
2017-02-05           0.0  29.914867
2017-02-12           0.0  30.694363
2017-02-19           0.0  31.565504

The subset methods in DataFrame is quite useful. By writing logical statements in square brackets, we can make customized subsets:

In [34]:
import numpy as np

above = aapl_bar[aapl_bar.Close > np.mean(aapl_bar.Close)]
print(above)

                 Open       High        Low      Close  rate_return
Date
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

## Data Validation
As mentioned, all methods that apply to a Series can also be applied to a DataFrame. Here we add a new column to an existing DataFrame:

In [23]:
# Se crea la columna 'rate_return' con los valores del % de cambio entre los valores de 'Close' de 'appl_bar'
aapl_bar['rate_return'] = aapl_bar.Close.pct_change()
print(aapl_bar)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Here the calculation introduced a NaN value. If the DataFrame is large, we would not be able to observe it. **isnull()** provides a convenient way to check abnormal values.

In [24]:
# .isnull() verifica, para todos los registros de la DataFrame, si alguno es null
missing = aapl_bar.isnull()
print(missing)
print('---------------------------------------------')
print(missing.describe())

             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True
2016-02-29  False  False  False  False        False
2016-03-31  False  False  False  False        False
2016-04-30  False  False  False  False        False
2016-05-31  False  False  False  False        False
2016-06-30  False  False  False  False        False
2016-07-31  False  False  False  False        False
2016-08-31  False  False  False  False        False
2016-09-30  False  False  False  False        False
2016-10-31  False  False  False  False        False
2016-11-30  False  False  False  False        False
2016-12-31  False  False  False  False        False
---------------------------------------------
         Open   High    Low  Close rate_return
count      12     12     12     12          12
unique      1      1      1      1           2
top     False  False  False  False       False
freq       12     12     12     12          11

The row labelled "unique" indicates the number of unique values in each column. Since the "rate_return" column has 2 unique values, it has at least one missing value.

We can deduce the number of missing values by comparing "count" with "freq". There are 12 counts and 11 False values, so there is one True value which corresponds to the missing value.

We can also find the rows with missing values easily:

In [25]:
# Toma TODA la DataFrame y valida qué registros cumplen con la condición, y cuales no
print(missing.rate_return == True)
# Obtiene los index de los registros que cumplan con 'True'
print(missing[missing.rate_return == True])

Date
2016-01-31     True
2016-02-29    False
2016-03-31    False
2016-04-30    False
2016-05-31    False
2016-06-30    False
2016-07-31    False
2016-08-31    False
2016-09-30    False
2016-10-31    False
2016-11-30    False
2016-12-31    False
Freq: M, Name: rate_return, dtype: bool
             Open   High    Low  Close  rate_return
Date
2016-01-31  False  False  False  False         True

Usually when dealing with missing data, we either delete the whole row or fill it with some value. As we introduced in the Series chapter, the same method **dropna()** and **fillna()** can be applied to a DataFrame.

In [ ]:
# Elimina la fila que tiene alguno de sus campos 'null'
drop = aapl_bar.dropna()
print(drop)
print('\n--------------------------------------------------\n')
# Reemplanza 'null' o 'NaN' por 0
fill = aapl_bar.fillna(0)
print(fill)

                 Open       High        Low      Close  rate_return
Date
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

--------------------------------------------------

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250     0.000000
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955

## DataFrame Concat
We have seen how to extract a Series from a dataFrame. Now we need to consider how to merge a Series or a DataFrame into another one.

In Pandas, the function **concat()** allows us to merge multiple Series into a DataFrame:

In [30]:
s1 = pd.Series([143.5, 144.09, 142.73, 144.18, 143.77], name = 'AAPL')
s2 = pd.Series([898.7, 911.71, 906.69, 918.59, 926.99], name = 'GOOG')
'''
Concatena s1 con s2
Axis puede tener 2 valores:
                * 0 : se aplica la función de forma VERTICAL   >> forma una sola columna
                * 1 : se aplica la función de forma HORIZONTAL >> forma x columnas, x = # de Series
''' 
data_frame = pd.concat([s1,s2], axis = 1)
print(data_frame)

     AAPL    GOOG
0  143.50  898.70
1  144.09  911.71
2  142.73  906.69
3  144.18  918.59
4  143.77  926.99

The "axis = 1" parameter will join two DataFrames by columns:

In [ ]:
log_price = np.log(aapl_bar.Close)
log_price.name = 'log_price'
print(log_price)
print('\n---------------------- separate line--------------------\n')
concat = pd.concat([aapl_bar, log_price], axis = 1)
print(concat)

Date
2016-01-31    3.110856
2016-02-29    3.109568
2016-03-31    3.229314
2016-04-30    3.078583
2016-05-31    3.147897
2016-06-30    3.104301
2016-07-31    3.190536
2016-08-31    3.213912
2016-09-30    3.277361
2016-10-31    3.281686
2016-11-30    3.259848
2016-12-31    3.306689
Freq: M, Name: log_price, dtype: float64

---------------------- separate line--------------------

                 Open       High        Low      Close  rate_return  log_price
Date
2016-01-31  21.852388  22.440250  21.750952  22.440250          NaN   3.110856
2016-02-29  22.450761  22.768308  22.402086  22.411358    -0.001288   3.109568
2016-03-31  25.431520  25.473242  25.236819  25.262316     0.127210   3.229314
2016-04-30  21.785529  21.954734  21.442488  21.727583    -0.139921   3.078583
2016-05-31  23.226409  23.412967  23.044516  23.287041     0.071773   3.147897
2016-06-30  22.023112  22.333262  21.990464  22.293619    -0.042660   3.104301
2016-07-31  24.296780  24.380731  24.177849  24.301443     0.090063   3.190536
2016-08-31  24.773054  24.986412  24.768364  24.876215     0.023652   3.213912
2016-09-30  26.367388  26.580747  26.212645  26.505720     0.065505   3.277361
2016-10-31  26.646396  26.782384  26.540888  26.620605     0.004334   3.281686
2016-11-30  26.300094  26.441492  25.986660  26.045576    -0.021601   3.259848
2016-12-31  27.490193  27.619807  27.202683  27.294592     0.047955   3.306689

We can also join two DataFrames by rows. Consider these two DataFrames:

In [31]:
df_volume = aapl_table.loc['2016-10':'2017-04',['Volume', 'Stock Splits']].resample('M').agg(lambda x: x[-1])
print(df_volume)
print('\n---------------------- separate line--------------------\n')
df_2017 = aapl_table.loc['2016-10':'2017-04',['Open', 'High', 'Low', 'Close']].resample('M').agg(lambda x: x[-1])
print(df_2017)

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
2017-01-31  196804000             0
2017-02-28   93931600             0
2017-03-31   78646800             0
2017-04-30   83441600             0

---------------------- separate line--------------------

                 Open       High        Low      Close
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153537  26.294148  25.841851  25.900438
2016-12-31  27.337011  27.465903  27.051103  27.142500
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264068  32.348800  32.174627  32.242886
2017-03-31  33.826908  33.956360  33.659796  33.812786
2017-04-30  33.913994  33.963423  33.720996  33.810432

Now we merge the DataFrames with our DataFrame 'aapl_bar'

In [36]:
print(aapl_bar)
concat = pd.concat([aapl_bar, df_volume], axis = 1)
print(concat)

                 Open       High        Low      Close  rate_return
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

                 Volume  Stock Splits
Date
2016-01-31          NaN           NaN
2016-02-29          NaN           NaN
2016-03-31          NaN           NaN
2016-04-30          NaN           NaN
2016-05-31          NaN           NaN
2016-06-30          NaN           NaN
2016-07-31          NaN           NaN
2016-08-31          NaN           NaN
2016-09-30          NaN           NaN
2016-10-31  105677600.0           0.0
2016-11-30  144649200.0           0.0
2016-12-31  122345200.0           0.0
2017-01-31  196804000.0           0.0
2017-02-28   93931600.0           0.0
2017-03-31   78646800.0           0.0
2017-04-30   83441600.0           0.0

By default the DataFrame are joined with all of the data. This default options results in zero information loss. We can also merge them by intersection, this is called 'inner join

In [42]:
# Con el inner join se toman los registros que comparten ambas DataFrames 
concat = pd.concat([aapl_bar,df_volume],axis = 1, join = 'inner')
print(concat)

# Se pueden concatenar más de 2 DataFrames con inner join
concat_3 = pd.concat([aapl_bar,df_volume,df_2017],axis = 1, join = 'inner')
print(concat_3)

                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

               Volume  Stock Splits
Date
2016-10-31  105677600             0
2016-11-30  144649200             0
2016-12-31  122345200             0
                 Open       High        Low      Close  rate_return  \
Date
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955

               Volume  Stock Splits     Change      High         Low  \
Date
2016-10-31  105677600             0  26.497908  26.633138  26.392988
2016-11-30  144649200             0  26.153537  26.294148  25.841851
2016-12-31  122345200             0  27.337011  27.465903  27.051103

                Close
Date
2016-10-31  26.472261
2016-11-30  25.900438
2016-12-31  27.142500

Only the intersection part was left if use 'inner join' method. Now let's try to append a DataFrame to another one:

In [45]:
# .append() es como concatenar pero VERTICALMENTE (axis = 0)
append = aapl_bar.append(df_2017)
print(append)

# Con outer join se unen las DataFrames, así tengan nombres de columnas iguales
concat_outer = pd.concat([aapl_bar,df_2017],axis = 1, join = 'outer')
print(concat_outer)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2016-10-31        NaN        NaN  26.392988  26.472261          NaN
2016-11-30        NaN        NaN  25.841851  25.900438          NaN
2016-12-31        NaN        NaN  27.051103  27.142500          NaN
2017-01-31        NaN        NaN  28.267382  28.438457          NaN
2017-02-28        NaN        NaN  32.174627  32.242886          NaN
2017-03-31        NaN        NaN  33.659796  33.812786          NaN
2017-04-30        NaN        NaN  33.720996  33.810432          NaN

               Change      High
Date
2016-01-31        NaN        NaN
2016-02-29        NaN        NaN
2016-03-31        NaN        NaN
2016-04-30        NaN        NaN
2016-05-31        NaN        NaN
2016-06-30        NaN        NaN
2016-07-31        NaN        NaN
2016-08-31        NaN        NaN
2016-09-30        NaN        NaN
2016-10-31        NaN        NaN
2016-11-30        NaN        NaN
2016-12-31        NaN        NaN
2016-10-31  26.497908  26.633138
2016-11-30  26.153537  26.294148
2016-12-31  27.337011  27.465903
2017-01-31  28.391588  28.447832
2017-02-28  32.264068  32.348800
2017-03-31  33.826908  33.956360
2017-04-30  33.913994  33.963423
                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2017-01-31        NaN        NaN        NaN        NaN          NaN
2017-02-28        NaN        NaN        NaN        NaN          NaN
2017-03-31        NaN        NaN        NaN        NaN          NaN
2017-04-30        NaN        NaN        NaN        NaN          NaN

               Change      High         Low      Close
Date
2016-01-31        NaN        NaN        NaN        NaN
2016-02-29        NaN        NaN        NaN        NaN
2016-03-31        NaN        NaN        NaN        NaN
2016-04-30        NaN        NaN        NaN        NaN
2016-05-31        NaN        NaN        NaN        NaN
2016-06-30        NaN        NaN        NaN        NaN
2016-07-31        NaN        NaN        NaN        NaN
2016-08-31        NaN        NaN        NaN        NaN
2016-09-30        NaN        NaN        NaN        NaN
2016-10-31  26.497908  26.633138  26.392988  26.472261
2016-11-30  26.153537  26.294148  25.841851  25.900438
2016-12-31  27.337011  27.465903  27.051103  27.142500
2017-01-31  28.391588  28.447832  28.267382  28.438457
2017-02-28  32.264068  32.348800  32.174627  32.242886
2017-03-31  33.826908  33.956360  33.659796  33.812786
2017-04-30  33.913994  33.963423  33.720996  33.810432

'Append' is essentially to concat two DataFrames by axis = 0, thus here is an alternative way to append:

In [46]:
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2016-10-31        NaN        NaN  26.392988  26.472261          NaN
2016-11-30        NaN        NaN  25.841851  25.900438          NaN
2016-12-31        NaN        NaN  27.051103  27.142500          NaN
2017-01-31        NaN        NaN  28.267382  28.438457          NaN
2017-02-28        NaN        NaN  32.174627  32.242886          NaN
2017-03-31        NaN        NaN  33.659796  33.812786          NaN
2017-04-30        NaN        NaN  33.720996  33.810432          NaN

               Change      High
Date
2016-01-31        NaN        NaN
2016-02-29        NaN        NaN
2016-03-31        NaN        NaN
2016-04-30        NaN        NaN
2016-05-31        NaN        NaN
2016-06-30        NaN        NaN
2016-07-31        NaN        NaN
2016-08-31        NaN        NaN
2016-09-30        NaN        NaN
2016-10-31        NaN        NaN
2016-11-30        NaN        NaN
2016-12-31        NaN        NaN
2016-10-31  26.497908  26.633138
2016-11-30  26.153537  26.294148
2016-12-31  27.337011  27.465903
2017-01-31  28.391588  28.447832
2017-02-28  32.264068  32.348800
2017-03-31  33.826908  33.956360
2017-04-30  33.913994  33.963423

Please note that if the two DataFrame have some columns with the same column names, these columns are considered to be the same and will be merged. It's very important to have the right column names. If we change a column names here:

In [39]:
df_2017.columns = ['Change', 'High','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

# La columna 'High ' es distinta a 'High', por eso no se hace merge y al concatenar se consideran como columnas aparte
df_2017.columns = ['Change', 'High ','Low','Close']
concat = pd.concat([aapl_bar, df_2017], axis = 0)
print(concat)

                 Open       High        Low      Close  rate_return  \
Date
2016-01-31  21.730616  22.315203  21.629745  22.315203          NaN
2016-02-29  22.325654  22.641431  22.277250  22.286470    -0.001288
2016-03-31  25.289805  25.331294  25.096189  25.121544     0.127211
2016-04-30  21.664132  21.832393  21.323002  21.606508    -0.139921
2016-05-31  23.096980  23.282499  22.916101  23.157274     0.071773
2016-06-30  21.900393  22.208816  21.867928  22.169394    -0.042660
2016-07-31  24.161392  24.244875  24.043124  24.166029     0.090063
2016-08-31  24.635014  24.847183  24.630350  24.737600     0.023652
2016-09-30  26.220454  26.432624  26.066573  26.358015     0.065504
2016-10-31  26.497908  26.633138  26.392988  26.472261     0.004334
2016-11-30  26.153537  26.294148  25.841851  25.900438    -0.021601
2016-12-31  27.337011  27.465903  27.051103  27.142500     0.047955
2016-10-31        NaN        NaN  26.392988  26.472261          NaN
2016-11-30        NaN        NaN  25.841851  25.900438          NaN
2016-12-31        NaN        NaN  27.051103  27.142500          NaN
2017-01-31        NaN        NaN  28.267382  28.438457          NaN
2017-02-28        NaN        NaN  32.174627  32.242886          NaN
2017-03-31        NaN        NaN  33.659796  33.812786          NaN
2017-04-30        NaN        NaN  33.720996  33.810432          NaN

               Change      High
Date
2016-01-31        NaN        NaN
2016-02-29        NaN        NaN
2016-03-31        NaN        NaN
2016-04-30        NaN        NaN
2016-05-31        NaN        NaN
2016-06-30        NaN        NaN
2016-07-31        NaN        NaN
2016-08-31        NaN        NaN
2016-09-30        NaN        NaN
2016-10-31        NaN        NaN
2016-11-30        NaN        NaN
2016-12-31        NaN        NaN
2016-10-31  26.497908  26.633138
2016-11-30  26.153537  26.294148
2016-12-31  27.337011  27.465903
2017-01-31  28.391588  28.447832
2017-02-28  32.264068  32.348800
2017-03-31  33.826908  33.956360
2017-04-30  33.913994  33.963423


Since the column name of 'Open' has been changed, the new DataFrame has an new column named 'Change'.

# Summary

Hereby we introduced the most import part of python: resampling and DataFrame manipulation. We only introduced the most commonly used method in Financial data analysis. There are also many methods used in data mining, which are also beneficial. You can always check the [Pandas](https://pandas.pydata.org/pandas-docs/stable/index.html) official documentations for help.